# References: https://docs.beacon3d.com/contact/#82-homing-override

[gcode_macro _HOME_EDGE_CLEARANCE]
gcode:
    {% set edge_margin = 20 %}
    {% set homing_retract_speed = (printer.configfile.settings.stepper_x.homing_retract_speed|int * 60)|int %}
    G90
    {% if "x" in printer.toolhead.homed_axes and "y" in printer.toolhead.homed_axes %}
        {% set x_safe = [([printer.toolhead.position.x, printer.toolhead.axis_minimum.x + edge_margin]|max), printer.toolhead.axis_maximum.x - edge_margin]|min %}
        {% set y_safe = [([printer.toolhead.position.y, printer.toolhead.axis_minimum.y + edge_margin]|max), printer.toolhead.axis_maximum.y - edge_margin]|min %}
        G0 X{x_safe} Y{y_safe} F{homing_retract_speed}
    {% else %}
        SET_KINEMATIC_POSITION X={edge_margin} Y={edge_margin}
        G3 X{edge_margin*0.293} Y{edge_margin*0.293} I{-edge_margin*0.707/2} J{-edge_margin*0.707/2} F{homing_retract_speed}
        G3 I{edge_margin*0.707} J{edge_margin*0.707}
        G3 X{edge_margin} Y{edge_margin} I{edge_margin*0.707/2} J{edge_margin*0.707/2}
        G0 X{edge_margin} Y{edge_margin}
    {% endif %}

[gcode_macro _HOME_PRE_AXIS]
gcode:
    {% set axis = params.AXIS|lower %}
    STATUS_HOMING
    SET_VELOCITY_LIMIT ACCEL=3000

    {% if "z" not in axis %}
        {% set HOME_CURRENT = 0.7 %}
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    {% endif %}

    _HOME_EDGE_CLEARANCE

    {% if "z" not in axis %}
        # Move away
        SAVE_GCODE_STATE NAME=home_pre_axis
        SET_VELOCITY_LIMIT ACCEL=1000
        G91
        G0 {axis}-10 F{(printer.configfile.settings.stepper_x.homing_retract_speed|int * 60)|int}
        SET_VELOCITY_LIMIT ACCEL=3000
        RESTORE_GCODE_STATE NAME=home_pre_axis
    {% endif %}

    # Make sure StallGuard registers are cleared
    M400

[gcode_macro _HOME_POST_AXIS]
gcode:
    {% set axis = params.AXIS|lower %}
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set travel_speed = (printer.toolhead.max_velocity) * 60 | float %}

    {% if "z" not in axis %}
        # Move away
        SAVE_GCODE_STATE NAME=home_post_axis
        G91
        G0 {axis}-10 F{(printer.configfile.settings.stepper_x.homing_retract_speed|int * 60)|int}
        RESTORE_GCODE_STATE NAME=home_post_axis
    {% endif %}

    # Make sure StallGuard registers are cleared
    M400

    {% if "z" not in axis %}
        # Set current during print
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    {% endif %}

    # Restore configure acceleration
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel} SQUARE_CORNER_VELOCITY={printer.configfile.settings.printer.square_corner_velocity}
    G0 F{travel_speed}
    STATUS_READY

[gcode_macro TEST_SENSORLESS_HOME_X]
gcode:
    {% set TEST_SGTHRS = params.TEST_SGTHRS|default(255)|int %}
    SET_TMC_FIELD STEPPER=stepper_x FIELD=SGTHRS VALUE={TEST_SGTHRS}
    AUTOTUNE_TMC STEPPER=stepper_x SG4_THRS={TEST_SGTHRS}
    M117 X Sensitivity: {TEST_SGTHRS}
    G4 P1000
    G28 X0
    G4 P1000
    M84

[gcode_macro TEST_SENSORLESS_HOME_Y]
gcode:
    {% set TEST_SGTHRS = params.TEST_SGTHRS|default(255)|int %}
    SET_TMC_FIELD STEPPER=stepper_y FIELD=SGTHRS VALUE={TEST_SGTHRS}
    AUTOTUNE_TMC STEPPER=stepper_y SG4_THRS={TEST_SGTHRS}
    M117 Y Sensitivity: {TEST_SGTHRS}
    G4 P1000
    G28 Y0
    G4 P1000
    M84
